<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.maiktmp.skilltestphndr">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".SkillTestPhndrApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkillTestPhndr">

        <activity android:name=".ui.splash.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.view.LoginActivity" />
        <activity android:name=".ui.home.view.HomeActivity" />
        <activity android:name=".ui.partners.list.view.PartnersActivity" />
        <activity android:name=".ui.partners.map.view.PartnersMapActivity" />
        <activity android:name=".ui.partners.form.view.PartnerFormActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyADPwQHWTY-qOdGDndlcLjPFYt9_LTY7D8" />

    </application>

</manifest>